<div class="bg-white p-6 rounded-lg shadow-lg">
  <h2 class="text-xl font-bold mb-4">Edit Task</h2>

  <%= render 'form', task: @task %>

  <%= link_to 'Back', root_path, class: "btn btn-secondary mt-4" %>
</div>