<p style="color: green"><%= notice %></p>

<div class="bg-white p-6 rounded-lg shadow-lg">
  <p class="text-xl font-bold text-center mb-4">デプロイできました！</p>
  <div class="flex flex-col items-center justify-center">
    <%= image_tag "E7355F85-B603-4B26-AB27-7E563946DFC3_1_105_c.png", alt: "ロゴ", class: "logo-class" %>
  </div>
</div>